/*** DEFAULTS ***/

@import url(https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap);

:root {
  --bg: #151515;
  --gradient: linear-gradient(10deg, rgb(255, 225, 126) 0%, rgb(255, 236, 236) 50%, rgb(146, 237, 255) 100%);
}

html, body, #root, .app {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

* {
  font-family: Rubik !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: opacity .3s ease;
}

a[href] {
  display: flex;
  text-decoration: none;
}

button {
  border: none;
}

button:active, button:active:after {
  outline: none;
}

label, p, input {
  color: black;
}

/*** FORMATTING AND VISIBILITY ***/

.hide {
  opacity: 0 !important;
  pointer-events: none !important;
  visibility: hidden;
}

.bold { font-weight: 700 }
.large { font-size: 2rem }
.medium { font-size: 1.5rem }

.flex, .flex-col { display: flex }
.flex-col { flex-direction: column }
.flex-fill { flex: 1 1 }

/*** INPUTS ***/

.text-input {
  display: flex;
  outline: none;
  border: none;
}

.round-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: .5rem;
  color: var(--bg);
  background: white;
  cursor: pointer;
  transition: background .3s ease;
}

.round-btn:hover {
  color: white;
  background: var(--bg);
}

/** HOME ***/

.home {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  align-items: center;
  justify-content: center;
}

.home .text-input {
  text-align: center;
  width: 15rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  background: none;
}

.home .text-input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.home a[href] {
  width: 10rem;
}

/*** ROOM ***/

.room {
  align-items: center;
  padding: 1rem;
  transition: background .5s ease;
}

.room.dark {
  background: var(--bg);
}

.room.dark label {
  color: white;
}

/*** LOBBY ***/

.lobby button {
  width: 15rem;
}

.player-list {
  flex: 1 1;
  justify-content: center;
}

.player-list > * {
  align-items: center;
  justify-content: center;
  margin: .5rem 0;
}

.player-list input[type=color] {
  margin-left: .5rem;
  width: 1.5rem;
  border: none;
  background: none;
  cursor: pointer;
}

/*** CANVAS ***/

.canvas-wrapper {
  display: flex;
  margin: auto;
  overflow: hidden;
  justify-self: center;
  align-items: center;
}

.canvas-wrapper canvas {
  outline: none;
  image-rendering: pixelated;
  transition: transform 1s ease;
}